{% extends 'base.html.twig' %}

{% block stylesheets %}{{ parent() }}
{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}

{% block bodyClasses %}{{ parent() }} with-top-menu{% endblock %}

{% block body %}

  <header id="header">
    <nav class="nav-wrapper promis-blue black-text clearblock" id="top-nav">
      <ul class="left">
        <li{% if not withoutLeftMenu|default(false) %} class="hide-on-med-and-down"{% endif %}>
          <a href="{{ path('index') }}" class="d-block center mt0 promis-logo waves-effect">
            <img src="{{ asset('build/assets/images/logo-promis-157w.png') }}" align="Logo Promis" title="{{ "Simulační manažerská hra Promis"|trans }}" width="157" sizes="157px"
               srcset="{% for w in [157, 225, 400, 500, 800, 1000] %}{{ asset('build/assets/images/logo-promis-'~ w ~'w.png') }} {{ w }}w{{ not loop.last ? ',' }}{% endfor %}">
            <span class="sr-only">{{ "Trenažér řízení projektů Promis"|trans }}</span>
          </a>
        </li>
        {% if not withoutLeftMenu|default(false) %}
          <li>
            <a class="left waves-effect" id="left-menu-toggle" data-target="left-menu-sidenav"
               data-open-text="{{ "Zobrazit levé menu"|trans }}" data-close-text="{{ "Skrýt levé menu"|trans }}"
               title="{{ "Skrýt levé menu"|trans }}">
              <div class="navbar-toggle left">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </div>
              <div class="left hide-on-med-and-down text"></div>
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="right">
        <li class="row orig mb0 hide-on-med-and-down">
          <div class="col">{{ "Přihlášen jako:"|trans }} {{ app.user.username }}</div>
        </li>
        <li>
          <a role="button" href="{{ path('app_user_profile') }}" class="black-text semi-bold waves-effect">
            <i class="material-icons">person</i>
            <span class="hide-on-small-and-down">{{ "Zobrazit profil"|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('logout') }}" class="black-text semi-bold waves-effect">
            <i class="material-icons">exit_to_app</i>
            <span class="hide-on-small-and-down">{{ "Odhlásit"|trans }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  {% if not withoutLeftMenu|default(false) %}
    <aside id="left-menu" class="{% if leftMenuClosedOnLoad|default(false) %}closed-on-load{% endif %}">
      <div class="no-horizontal-overflow">
        <nav class="sidenav" id="left-menu-sidenav">
          {{ include('_leftMenu.html.twig') }}
        </nav>
      </div>
    </aside>
  {% endif %}

  <main id="main-content">
    {% block content %}{% endblock %}


    <div class="fixed-action-btn">
      {% block fixedActionButtons %}
        {% set helpPage = getHelpPageForCurrentRoute() %}
        {% if helpPage %}
          <a href="{{ path('app_page_show', { path: helpPage.path }) }}" class="btn-floating btn-large waves-effect waves-light green tooltipped"
             data-position="left" data-tooltip="{{ "Nápověda k této stránce (%name%)"|trans({'%name%': helpPage.title}) }}">
            ?
            <span class="sr-only">{{ "Nápověda k této stránce (%name%)"|trans({'%name%': helpPage.title}) }}</span>
          </a>
        {% endif %}
      {% endblock %}
    </div>
  </main>
{% endblock body %}